body {
    font-family: "Chiron GoRound TC", sans-serif;
    margin-top: 92px;
    padding-left: 50px;
    padding-right: 50px;

}

nav {

    background-color: #FFE6FF;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;



}

ul {
    display: flex;
    justify-content: flex-end;
    list-style: none;
    gap: 20px;
    padding: 20px;
}

li {
    cursor: pointer;
    font-size: 18px;

}

li a {
    text-decoration: none;

}

li:hover {
    color: #7B7B7B;
}

.profile {
    width: 200px;
    background: #fff;
    padding: 20px;


}

.profile img {
    width: 150px;
    padding: 20px;
}

.profile p {
    padding-left: 20px;
}

.container {
    display: flex;
    background-color: #C4E1FF;
    gap: 30px;
    max-width: 1200px;
    margin: auto;



}

.right {
    margin-left: 5px;


}

.work {
    /* padding: 20px; */
    display: flex;
    flex-wrap: wrap;
}

.work img {
    width: 180px;

}

.workText {

    font-size: 26px;
}

.grid {
    display: flex;
    gap: 50px;
    flex-wrap: wrap;
}

.card img {
    border: 2px solid #7B7B7B;
    border-radius: 5px;


}